@charset "UTF-8";
/* CSS Document */

/* tekst */

p{
	family-font:'WebFont', Arial, sans-serif;
	font-style:normal;
	font-size: 11px;
	color: black;
	text-align: center;
	padding-top: 20px;
}

.welkom{
	color: white;
	font-size: 17px;
	position: absolute;
	margin-top: 500px;
	margin-right: 25px;
	font-style: thin;
	
}

.info{
	border-right: 2px;
	border-left: 2px;
	border-color: #8c6b76;
}


.titel{
	font-style: bold;
	color: #8c6b76;
	font-size: 15px;
	text-align: center;
} 

.display-3{
	font-family: 'Dancing Script';
	color: white;
	font-size: 35px;
	padding-top: 10px;
	letter-spacing: 6px; 
}

.lead{
	color: white;
	font-size: 12px;
	margin-right: 22px;
}

/*titel*/

.head{
	background-color: #8aacaf;
	opacity: 0.4;
}

/* lijst */
.list-inline{
	text-align: center;
	font-size: 10px;
}

/* jumbotron */

.jumbotron {
	padding-top: 40px;
	background:url(../images/pexels-photo-374703.jpeg) no-repeat center;
	background-size: cover;
	height: 800px;
}


/*opmaak*/

.link_track {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
	width: 445px;
	height: 50px;
	opacity: 0.8;
	text-align: center;
	font-family: 'dancing Script';
	color: white;
	background-color: #8aacaf;
}

.btn-outline-primary{
	color:#8c6b76;
	border-color: #8c6b76;
}

.btn-primary:hover{
	color:#fff;
	background-color: #8c6b76;
}

/*Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
p{
	font-size: 13px;
	}
.display-3{
	font-size: 60px;
	}
.lead{
	font-size: 20px;
	}
.tracks{
	font-size: 20px;
	}
.titel{
	font-size: 23px;
	}
.link_track{
	font-size: 30px;
	}
.list-inline{
	font-size: 14px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }